{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-comments/recommended",
    "plugin:jest/all"
  ],
  "plugins": [
    "@typescript-eslint",
    "eslint-comments",
    "jest"
  ],
  "rules": {
    "eslint-comments/no-unused-disable": "error",
    "jest/prefer-expect-assertions": "off",
    "jest/no-hooks": "off",
    "jest/max-expects": ["error", { "max": 10 }]
  }
}
